<div class="container">

  <!-- Account Registered, Modify Teams, and Modify points card -->
  <div class="row mt-5">

    


    <!-- Accounts Registered Card Component -->
    <div class="col-12 col-md-6">
      <div class="card dashboard-card min-card-height">
        <div class="row no-gutters pb-2">

          <div class="col-md-7 order-2">

            <div class="account-registered-number">
              <%= dataArray.length %>
            </div>
            <div class="account-registered-title">
              Accounts Registered
            </div>


          </div>
          <div class="col col-md-5 order-1 d-flex justify-content-center align-items-center">
            <img src="./Images/Dashboard/accountRegistered.svg" class="card-img dashboard-card-img" alt="...">
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Teams Card Component -->
    <div class="col-12 col-md-3 my-5 my-md-0">
      <a href="/teamForm">
        <div class="card dashboard-card card-hover min-card-height">
          <div class="row no-gutters d-flex justify-content-center">
            <div class="col-md-7 order-2 account-registered-title">
              Modify Teams
            </div>
            <div class="col-12 order-1 d-flex justify-content-center align-items-center">
              <img src="./Images/Dashboard/editTeams.svg" class="card-img dashboard-card-img" alt="...">
            </div>
          </div>
        </div>
      </a>
    </div>

    <!-- Edit Points Card Component -->
    <div class="col-12 col-md-3">
      <a href="/pointsForm">
        <div class="card dashboard-card card-hover min-card-height">
          <div class="row no-gutters d-flex justify-content-center">

            <div class="col-md-7 order-2 account-registered-title">
              Modify Points
            </div>
            <div class="col-12 order-1 d-flex justify-content-center align-items-center">
              <img src="./Images/Dashboard/editPoints.svg" class="card-img dashboard-card-img" alt="...">
            </div>
          </div>
        </div>
      </a>
    </div>



  </div>

  <!-- Account Overview Card-->
  <div class="row">

    <div class="col-12 col-md pt-5 ">
      <div class="card workshop-background-color dashboard-card align-items-center">
        <img src="./Images/Dashboard/accounts.svg" class="card-img-top maxIconSize my-3" alt="...">
        <div class="px-5 w-100">
          <h5 class="card-admin-text">
            <div class="row">



              <% for(var i = 0; i < teamsData.length; i++) {  %>


              <% if(teamsData[i].team == 'Black') { %>
              <div class="col col-sm-3 flex-column uvsase-blue">
                <div class="teamName-title">
                  Black
                </div>
                <% for(var j = 0; j < teamsData[i].attendees.length; j++) {  %>
             
                <div class="teanName-names">
                  <%= teamsData[i].attendees[j] %>
                </div>
                <% } %>
              </div>
              <% } %>

              <% if(teamsData[i].team == 'Blue') { %>
                <div class="col col-sm-3 flex-column uvsase-blue">
                  <div class="teamName-title">
                    Blue
                  </div>
                  <% for(var j = 0; j < teamsData[i].attendees.length; j++) {  %>
                    <div class="teanName-names">
                    <%= teamsData[i].attendees[j] %>
                  </div>
                  <% } %>
                </div>
                <% } %>

                <% if(teamsData[i].team == 'Cyan') { %>
                  <div class="col col-sm-3 flex-column uvsase-blue">
                    <div class="teamName-title">
                      Cyan
                    </div>
                    <% for(var j = 0; j < teamsData[i].attendees.length; j++) {  %>
                      <div class="teanName-names">
                      <%= teamsData[i].attendees[j] %>
                    </div>
                    <% } %>
                  </div>
                  <% } %>

                  <% if(teamsData[i].team == 'Green') { %>
                    <div class="col col-sm-3 flex-column uvsase-blue">
                      <div class="teamName-title">
                        Green
                      </div>
                      <% for(var j = 0; j < teamsData[i].attendees.length; j++) {  %>
                        <div class="teanName-names">
                        <%= teamsData[i].attendees[j] %>
                      </div>
                      <% } %>
                    </div>
                    <% } %>

              <% } %>

              
            </div>

            <div class="row">



              <% for(var i = 0; i < teamsData.length; i++) {  %>


              <% if(teamsData[i].team == 'Grey') { %>
              <div class="col col-sm-3 flex-column uvsase-blue">
                <div class="teamName-title">
                  Grey
                </div>
                <% for(var j = 0; j < teamsData[i].attendees.length; j++) {  %>
             
                <div class="teanName-names">
                  <%= teamsData[i].attendees[j] %>
                </div>
                <% } %>
              </div>
              <% } %>

              <% if(teamsData[i].team == 'Lime') { %>
                <div class="col col-sm-3 flex-column uvsase-blue">
                  <div class="teamName-title">
                    Lime
                  </div>
                  <% for(var j = 0; j < teamsData[i].attendees.length; j++) {  %>
                    <div class="teanName-names">
                    <%= teamsData[i].attendees[j] %>
                  </div>
                  <% } %>
                </div>
                <% } %>

                <% if(teamsData[i].team == 'Orange') { %>
                  <div class="col col-sm-3 flex-column uvsase-blue">
                    <div class="teamName-title">
                      Orange
                    </div>
                    <% for(var j = 0; j < teamsData[i].attendees.length; j++) {  %>
                      <div class="teanName-names">
                      <%= teamsData[i].attendees[j] %>
                    </div>
                    <% } %>
                  </div>
                  <% } %>

                  <% if(teamsData[i].team == 'Pink') { %>
                    <div class="col col-sm-3 flex-column uvsase-blue">
                      <div class="teamName-title">
                        Pink
                      </div>
                      <% for(var j = 0; j < teamsData[i].attendees.length; j++) {  %>
                        <div class="teanName-names">
                        <%= teamsData[i].attendees[j] %>
                      </div>
                      <% } %>
                    </div>
                    <% } %>

              <% } %>

              
            </div>

            <div class="row">



              <% for(var i = 0; i < teamsData.length; i++) {  %>


              <% if(teamsData[i].team == 'Purple') { %>
              <div class="col col-sm-3 flex-column uvsase-blue">
                <div class="teamName-title">
                  Purple
                </div>
                <% for(var j = 0; j < teamsData[i].attendees.length; j++) {  %>
             
                <div class="teanName-names">
                  <%= teamsData[i].attendees[j] %>
                </div>
                <% } %>
              </div>
              <% } %>

              <% if(teamsData[i].team == 'Red') { %>
                <div class="col col-sm-3 flex-column uvsase-blue">
                  <div class="teamName-title">
                    Red
                  </div>
                  <% for(var j = 0; j < teamsData[i].attendees.length; j++) {  %>
                    <div class="teanName-names">
                    <%= teamsData[i].attendees[j] %>
                  </div>
                  <% } %>
                </div>
                <% } %>

                <% if(teamsData[i].team == 'White') { %>
                  <div class="col col-sm-3 flex-column uvsase-blue">
                    <div class="teamName-title">
                      White
                    </div>
                    <% for(var j = 0; j < teamsData[i].attendees.length; j++) {  %>
                      <div class="teanName-names">
                      <%= teamsData[i].attendees[j] %>
                    </div>
                    <% } %>
                  </div>
                  <% } %>

                  <% if(teamsData[i].team == 'Yellow') { %>
                    <div class="col col-sm-3 flex-column uvsase-blue">
                      <div class="teamName-title">
                        Yellow
                      </div>
                      <% for(var j = 0; j < teamsData[i].attendees.length; j++) {  %>
                        <div class="teanName-names">
                        <%= teamsData[i].attendees[j] %>
                      </div>
                      <% } %>
                    </div>
                    <% } %>

              <% } %>

              
            </div>
          </h5>
        </div>
      </div>
    </div>
  </div>

  <!-- Workshop Table Card Component-->
  <div class="row mb-5">

    <div class="col-12 col-md pt-5 ">
      <div class="card workshop-background-color dashboard-card align-items-center">
        <img src="./Images/Dashboard/workshops.svg" class="card-img-top maxIconSize my-3" alt="...">
        <div class="px-5 w-100">
          <h5 class="card-admin-text">
            <div class="row">
              <table class="table text-UVSASE-blue">
                <thead>
                  <tr>
                    <th class="text-left no-border-top" scope="col">Workshop</th>
                    <th class="text-center no-border-top" scope="col">Registered</th>
                  </tr>
                </thead>
                <tbody class="workshop-card">
                  <% for(var i = 0; i < dataArray2.length; i++) {  %>
                  <tr class="workshopText">
                    <td class="text-left">
                      <a class="workshop-link" href="/workshop/<%= dataArray2[i].name %>">
                        <%= dataArray2[i].name %>
                      </a>

                    </td>
                    <td class="text-center">
                      <%= dataArray2[i].attendees.length %> / <%= dataArray2[i].max %>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </h5>
        </div>
      </div>
    </div>
  </div>



  <!-- Table Data for users
  <div class="row mt-5">
    <div class="col-12">
      <div class="table-responsive">


        <table class="table">
          <thead class="thead-blue">
            <tr class = "border-color">

              <th scope="col">
                <a class="columnName" href="/?filter=lastName">
                  Name 
                  <img class = "img-fluid filterIcon" src = "./Images/Dashboard/filterIcon.svg"> 
                </a>

              </th>
              <th scope="col">

                <a class="columnName" href="/?filter=email">
                  Email
                  <img class = "img-fluid filterIcon" src = "./Images/Dashboard/filterIcon.svg"> 
                </a>
              </th>
              <th scope="col">

                <a class="columnName" href="/?filter=teamName">
                  Team
                  <img class = "img-fluid filterIcon" src = "./Images/Dashboard/filterIcon.svg"> 
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < dataArray.length; i++) { %>
            <tr class = "user-info">
              <td> <%= dataArray[i].firstName %> <%= dataArray[i].lastName %></td>
              <td> <%= dataArray[i].email %></td>
              <td> <%= dataArray[i].teamName %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
-->
</div>
</div>



<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-auth.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>


<script>

  const firebaseConfig = {
    apiKey: "AIzaSyCic5UWC0fXladccjESHt2eEUFR3GCpu7k",
    authDomain: "test-73b01.firebaseapp.com",
    databaseURL: "https://test-73b01.firebaseio.com",
    projectId: "test-73b01",
    storageBucket: "test-73b01.appspot.com",
    messagingSenderId: "622256382010",
    appId: "1:622256382010:web:305e70e752a5a757c2d503"
  };

  firebase.initializeApp(firebaseConfig);

  const auth = firebase.auth();
  let userEmail = "";
  auth.onAuthStateChanged(function (user) {
    if (user) {
      console.log(40, user);
      userEmail = user.email;

    } else {
      console.log(43, "user not signed in");
    }
  });



</script>