
<div class="container">
    <div class="row mt-5">
        <div class="col">
            <div class="text-center history-title mb-5">
               History
            </div>

            <table class="table table-responsive-sm">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Attendee</th>
                        <th scope="col">Points</th>
                        <th scope="col">Email</th>
                        <th scope="col">Modified At</th>
                        <th scope="col">Modified By</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < dataArray.length; i++) { %> 
                     <tr class = "text-center">
                        <td>
                            <%= dataArray[i].attendee %>
                        </td>
                        <td>
                            <%= dataArray[i].points %>
                        </td>
                        <td>
                            <%= dataArray[i].email %>
                        </td>
                        <td>
                            <%= dataArray[i].modified %>
                        </td>
                        <td>
                            <%= dataArray[i].modifiedBy %>
                        </td>
                     </tr>   
                     <% } %>
                    
                
                </tbody>
            </table>
        </div>
    </div>
</div>