<div class="container my-5">
  <div class="row leader-outer-border">
    <div class="col-12 text-center mt-3 mb-3 leader-title">
      Who Is The Leader?
    </div>

    <% for(var i = 0; i < dataArray.length; i++) { %>
      <div class="col-12 col-md-6">
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col col-md-3">
              <img src="./Images/Leaderboard/<%=dataArray[i].team %>2.png" class="among-us-icon p-3" alt="...">
            </div>
            <div class="col col-md-9">
              <div class="leaderboard-team-name">
                <%= dataArray[i].team %>
              </div>
              <div class = "leaaderboard-points">
                  <%= dataArray[i].points %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% } %>


     
        <!--  
    <div class="col-4">

        <div class="div-wrapper">
            <img class="" src="./Images/Leaderboard/podium3.svg">
        </div>
    </div>
    <div class="col-4">

        <div class="div-wrapper">
            <img class="" src="./Images/Leaderboard/podium1.svg">
        </div>
    </div>
    <div class="col-4">
        <div class="div-wrapper">
            <img class="" src="./Images/Leaderboard/podium2.svg">
        </div>


    </div>

    -->

        <!--
      <table class="table">
        <thead class = "leaderboard-thead">
          <tr>

            <th scope="col">Place</th>
            <th scope="col">Name</th>
            <th scope="col">Points</th>
          </tr>
        </thead>
        <tbody>


          <% for(var i = 0; i < dataArray.length; i++) { %>


          <tr>
            <th scope="row">
              <%= i + 1%>
            </th>
            <td> <%= dataArray[i].team %></td>
            <td> <%= dataArray[i].points %></td>
          </tr>

          <% } %> 


        </tbody>
      </table>
    -->




  </div>
</div>



<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-auth.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>


<script>


  const firebaseConfig = {
    apiKey: "AIzaSyCic5UWC0fXladccjESHt2eEUFR3GCpu7k",
    authDomain: "test-73b01.firebaseapp.com",
    databaseURL: "https://test-73b01.firebaseio.com",
    projectId: "test-73b01",
    storageBucket: "test-73b01.appspot.com",
    messagingSenderId: "622256382010",
    appId: "1:622256382010:web:305e70e752a5a757c2d503"
  };

  firebase.initializeApp(firebaseConfig);

  const auth = firebase.auth();
  let userEmail = "";
  auth.onAuthStateChanged(function (user) {
    if (user) {
      console.log(62, user);
      userEmail = user.email;

    } else {
      console.log(43, "user not signed in");
    }
  });



</script>