<div class="container mt-5">


  <div class="row mb-5">
    <div class = "col-12">
      <div class = "w-100 text-center positiveSparksTitle">
        Welcome to Positive Sparks!
      </div>
      <div class = "text-center warning">
          DO NOT REFRESH page! It will update automatically.
      </div>
      <div>
       
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class = "col-12">
      <div id = "currentUserProfile">
      
      </div>
    </div>
  </div>




  <div id="loading" class="row">

  </div>


  <!--
  <div class="row">
    <% for(let i = 0; i < userInfoLength; i++) { %>
      <div class="col-3 d-flex justify-content-center mb-5">
        <div class="card">
          <img class="img-fluid team-img-maxSize" src="https://pngimg.com/uploads/tree/tree_PNG3498.png" id="profileImg<%=i%>">
          <div id="name" class="text-center">
            <%= userInfo[i].fullName %> (<span id="updatedPositiveSparkCounter<%=i%>"><%= userInfo[i].positiveSparkCounter%></span>)
          </div>
          <form class="positiveSparkForm" method="POST">
            <button type="button" class="btn btn-info">
              Tap
              <img class="tap-icon" src="./Images/VirtualSparks/tap.svg">
            </button>
            <input hidden value="<%= userInfo[i].email%>">
            <input hidden value="<%= i %>">
          </form>

        </div>
      </div>
      <% } %>
  </div>
-->

</div>
<input hidden id="userInfoLength" value="<%= userInfoLength %>">



<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-storage.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-firestore.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

<script>

  const firebaseConfig = {
    apiKey: "AIzaSyCic5UWC0fXladccjESHt2eEUFR3GCpu7k",
    authDomain: "test-73b01.firebaseapp.com",
    databaseURL: "https://test-73b01.firebaseio.com",
    projectId: "test-73b01",
    storageBucket: "test-73b01.appspot.com",
    messagingSenderId: "622256382010",
    appId: "1:622256382010:web:305e70e752a5a757c2d503"
  };

  firebase.initializeApp(firebaseConfig);

  const auth = firebase.auth();
  const db = firebase.firestore();

  auth.onAuthStateChanged(user => {

    let updatedCount = '';
    let profileImageURL;
    let currentSparkCounter = '';

    let i = 0;
    let tempProfileImgURL;





    db.collection('users').orderBy("firstName").onSnapshot(snapshot => {
      snapshot.docChanges().forEach((doc) => {

        console.log(85, doc.doc.data().fullName + " : " + doc.doc.data().uid);


        firebase.storage().ref('users/' + `${doc.doc.data().uid}` + '/profile.jpg').getDownloadURL()
          .then(imgURL => {
            if (doc.doc.data().email != user.email) {
          
         

            updatedCount += `
            <div class="col-3 d-flex justify-content-center mb-5">
              <div class="card">
                <img class="img-fluid team-img-maxSize" src="${imgURL}">
                <div id="name${doc.doc.data().uid}" class="text-center ">
                ${doc.doc.data().fullName}
                </div>

                <form class = "positiveSparkForm ">
                  <button class="btn btn-info w-100">
                    Tap
                    <img class="tap-icon" src="./Images/VirtualSparks/tap.svg">
                  </button>
                  <input hidden value = "${doc.doc.data().email}" />
                </form>

              </div>
           </div>
           `
          };
            currentSparkCounter = '';
            i++;
            if (i == snapshot.size) {
              document.querySelector('#loading').innerHTML = updatedCount;
              updatedCount = '';

              $(".positiveSparkForm").click(function (e) {
                e.preventDefault();


                let email = e.currentTarget[1].value;


                return fetch("/updatePositiveSparkCounter/" + email, {
                  method: "POST",
                  headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json",
                    "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                  }
                });
              });
            }
          })
          .catch(err => {
            updatedCount += `
            <div class="col-3 d-flex justify-content-center mb-5">
              <div class="card">
                <img class="img-fluid team-img-maxSize" src="./Images/VirtualSparks/default.png">
                <div id="name${doc.doc.data().uid}" class="text-center ">
                ${doc.doc.data().fullName} ${(currentSparkCounter)}
                </div>

                <form class = "positiveSparkForm ">
                  <button class="btn btn-info w-100">
                    Tap
                    <img class="tap-icon" src="./Images/VirtualSparks/tap.svg">
                  </button>
                  <input hidden value = "${doc.doc.data().email}" />
                </form>

              </div>
           </div>
           `;
            currentSparkCounter = '';
            i++;

            if (i == snapshot.size) {
              document.querySelector('#loading').innerHTML = updatedCount;
              updatedCount = '';

              $(".positiveSparkForm").click(function (e) {
                e.preventDefault();


                let email = e.currentTarget[1].value;


                return fetch("/updatePositiveSparkCounter/" + email, {
                  method: "POST",
                  headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json",
                    "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                  }
                });
              });
            }

          });




      });




    });


    db.collection('users').where("uid", "==", user.uid).onSnapshot(snapshot => {
      snapshot.docChanges().forEach((doc) => {

        if (doc.doc.data().email == user.email) {

          

          $(`#currentUserProfile`).html(`
              <div id="name${doc.doc.data().uid}" class="text-center fade-in-test nameCounter">
                ${doc.doc.data().fullName} - Number of taps: ${doc.doc.data().positiveSparkCounter}!
              </div>
            `);

       
        }
      })
    });
  });

</script>