<div class="container-fluid mt-5">


  <div id="workshopMaxNotification" class="row hideWorkshopNotification">
    <div class="col">

      <div class="card align-items-center mb-3 confirmation-message">
        <img src="./Images/Workshops/confirmation.svg" class="card-img-top maxIconSize mt-3" alt="...">
        <div class="card-body">
          <div class="text-center">
            You have successfully registered for 3 workshops!
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Adulting Workshop Track-->

 

 

  <div class="row mb-5">
      <div class = "workshop-title w-100">
          Fun / Casual
        </div>
      <% for(var i = 0; i < 12; i++) { %>

        <% if(dataArray[i].track == 'fun/casual') { %>
        <div class="col-12 col-lg-3 mt-5">
            <div class="card shadow-lg">
              <div class="container">
                <div class="row yellow-bg py-3 min-card-height">
  
                  <div class="col d-flex flex-column align-items-center justify-content-around">
                    <img class="img-fluid workshop-presenter-photo" src="./Images/Workshops/<%= dataArray[i].presenter %>.png">
                    <div class="workshop-font-color py-3">
                      <%= dataArray[i].presenter %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body min-card-body-height d-flex flex-column justify-content-between">
                <div class="presenter-name">
  
                  <%= dataArray[i].name %>
                </div>
  
                <div class="mb-5 workshop-description">
  
                  <%= dataArray[i].description %>
                    <% if(dataArray[i].notes.length != 0) { %>
                      <div class="mt-3 materials-needed">
                        Materials Needed:
                      </div>
                      <ul class="mt-3">
  
                        <% for(let j = 0; j < dataArray[i].notes.length; j++) { %>
                          <li>
                            <%= dataArray[i].notes[j] %>
                          </li>
                          <% } %>
                      </ul>
                      <% } %>
                      
                </div>
  
                <!-- <div class="row">
                      <div class="col d-flex justify-content-center">
                        <img class = "img-fluid scroll-down-icon" src = "https://cdn2.iconfinder.com/data/icons/arrows-set-8/100/double_down-512.png">
                      </div>
                </div> -->
                <div class="row">
                  <div class="col-6 d-flex align-items-center justify-content-center remaining-spots">
                    <%= dataArray[i].max - dataArray[i].attendees.length %> /
                      <%= dataArray[i].max %>
                  </div>
                  <form class="col-6" id="workshopRegister">
                    <button id="WorkshopButton<%=i%>" type="submit" class="btn  btn-UVSASE-darkBlue">
                      <div class="text-white">
                        Register
                      </div>
                    </button>
  
                    <input id="Workshop<%=(i+1)%>" type="hidden" value="<%= dataArray[i].name %>" />
  
                  </form>
                </div>
              </div>
            </div>
          </div>
      <% } %>
      <% } %>
</div>

<div class="row mb-5">
    <div class = "workshop-title w-100">
        Personal Development
      </div>
    <% for(var i = 0; i < 12; i++) { %>

      <% if(dataArray[i].track == 'personal development') { %>
      <div class="col-12 col-lg-3 mt-5">
          <div class="card shadow-lg">
            <div class="container">
              <div class="row yellow-bg py-3 min-card-height">

                <div class="col d-flex flex-column align-items-center justify-content-around">
                  <img class="img-fluid workshop-presenter-photo" src="./Images/Workshops/<%= dataArray[i].presenter %>.png">
                  <div class="workshop-font-color py-3">
                    <%= dataArray[i].presenter %>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body min-card-body-height d-flex flex-column justify-content-between">
              <div class="presenter-name">

                <%= dataArray[i].name %>
              </div>

              <div class="mb-5 workshop-description">

                <%= dataArray[i].description %>
                  <% if(dataArray[i].notes.length != 0) { %>
                    <div class="mt-3 materials-needed">
                      Materials Needed:
                    </div>
                    <ul class="mt-3">

                      <% for(let j = 0; j < dataArray[i].notes.length; j++) { %>
                        <li>
                          <%= dataArray[i].notes[j] %>
                        </li>
                        <% } %>
                    </ul>
                    <% } %>
                    
              </div>

              <!-- <div class="row">
                    <div class="col d-flex justify-content-center">
                      <img class = "img-fluid scroll-down-icon" src = "https://cdn2.iconfinder.com/data/icons/arrows-set-8/100/double_down-512.png">
                    </div>
              </div> -->
              <div class="row">
                <div class="col-6 d-flex align-items-center justify-content-center remaining-spots">
                  <%= dataArray[i].max - dataArray[i].attendees.length %> /
                    <%= dataArray[i].max %>
                </div>
                <form class="col-6" id="workshopRegister">
                  <button id="WorkshopButton<%=i%>" type="submit" class="btn  btn-UVSASE-darkBlue">
                    <div class="text-white">
                      Register
                    </div>
                  </button>

                  <input id="Workshop<%=(i+1)%>" type="hidden" value="<%= dataArray[i].name %>" />

                </form>
              </div>
            </div>
          </div>
        </div>
    <% } %>
    <% } %>
</div>

<div class="row mb-5">
    <div class = "workshop-title w-100">
        Adulting
      </div>
  <% for(var i = 0; i < 12; i++) { %>

    <% if(dataArray[i].track == 'adulting') { %>
      <div class="col-12 col-lg-3 mt-3">
        <div class="card shadow-lg">
          <div class="container">
            <div class="row yellow-bg py-3 min-card-height">

              <div class="col d-flex flex-column align-items-center justify-content-around">
                <img class="img-fluid workshop-presenter-photo" src="./Images/Workshops/<%= dataArray[i].presenter %>.png">
                <div class="workshop-font-color py-3">
                  <%= dataArray[i].presenter %>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body min-card-body-height d-flex flex-column justify-content-between">
            <div class="presenter-name">

              <%= dataArray[i].name %>
            </div>

            <div class="mb-5 workshop-description">

              <%= dataArray[i].description %>
                <% if(dataArray[i].notes.length != 0) { %>
                  <div class="mt-3 materials-needed">
                    Materials Needed:
                  </div>
                  <ul class="mt-3">

                    <% for(let j = 0; j < dataArray[i].notes.length; j++) { %>
                      <li>
                        <%= dataArray[i].notes[j] %>
                      </li>
                      <% } %>
                  </ul>
                  <% } %>

            </div>

            <!-- <div class="row">
                        <div class="col d-flex justify-content-center">
                          <img class = "img-fluid scroll-down-icon" src = "https://cdn2.iconfinder.com/data/icons/arrows-set-8/100/double_down-512.png">
                        </div>
                  </div> -->
            <div class="row">
              <div class="col-6 d-flex align-items-center justify-content-center remaining-spots">
                <%= dataArray[i].max - dataArray[i].attendees.length %> /
                  <%= dataArray[i].max %>
              </div>
              <form class="col-6" id="workshopRegister">
                <button id="WorkshopButton<%=i%>" type="submit" class="btn  btn-UVSASE-darkBlue">
                  <div class="text-white">
                    Register
                  </div>
                </button>

                <input id="Workshop<%=(i+1)%>" type="hidden" value="<%= dataArray[i].name %>" />

              </form>
            </div>
          </div>
        </div>
      </div>
      <% } %>
        <% } %>
</div>
</div>


<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-auth.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-firestore.js"></script>

<script>
  const firebaseConfig = {
    apiKey: "AIzaSyCic5UWC0fXladccjESHt2eEUFR3GCpu7k",
    authDomain: "test-73b01.firebaseapp.com",
    databaseURL: "https://test-73b01.firebaseio.com",
    projectId: "test-73b01",
    storageBucket: "test-73b01.appspot.com",
    messagingSenderId: "622256382010",
    appId: "1:622256382010:web:305e70e752a5a757c2d503"
  };

  firebase.initializeApp(firebaseConfig);

  const db = firebase.firestore();

  const auth = firebase.auth();
  let userEmail = "";
  auth.onAuthStateChanged(function (user) {
    if (user) {

      userEmail = user.email;
      $("#currentUserEmail").val(userEmail);
    } else {
      console.log(58, "user not signed in");
    }

    db.collection('users').where("uid", "==", user.uid).get().then(snapshot => {
      snapshot.forEach((doc) => {

        let currentUser = doc.data();

        if (currentUser.workshops.length >= 3) {
          $("#workshopMaxNotification").show();
          for (let j = 0; j < 12; j++) {
            $("#WorkshopButton" + j).hide();
          }
        }

        let i = 0;
        db.collection('workshops').get().then(snapshot => {
          snapshot.forEach((doc) => {

            let workshopData = doc.data();

            for (let j = 0; j < 12; j++) {
              console.log(137, currentUser.workshops[i]);
              console.log(138, workshopData.name);
              if (currentUser.workshops[j] == workshopData.name) {

                $("#WorkshopButton" + i).hide();
              }
            }

            i++;

          })
        });




      });
    });
  });

  document
    .addEventListener("submit", (event) => {
      event.preventDefault();





      return fetch("/registerWorkshop", {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
          "CSRF-Token": Cookies.get("XSRF-TOKEN"),
        },
        body: JSON.stringify({
          userEmail,
          selectedWorkshop: event.target[1].id,
          workshopName: event.target[1].value,
        }),
      })
        .then(() => {
          location.reload();
        });

    });



</script>