<div class="container-fluid mt-5">

 

  <div class="row">
    <div class="col">
      <% if(registeredWorkshopNumber == 3)  { %>
      <div class="card align-items-center mb-3 confirmation-message">
        <img src="./Images/Workshops/confirmation.svg" class="card-img-top maxIconSize mt-3" alt="...">
        <div class="card-body">
          <div class="text-center">
            You have successfully registered for 3 workshops!
          </div>
        </div>
      </div>
      <% } %>
    </div>

  </div>

  <div class="row mb-5">

    <% for(var i = 0; i < dataArray.length; i++) { %>
    <% if(dataArray[i].show != false) { %>
    <div class="col-12 col-lg-3 mt-5">
      <div class="card">
        <!-- 
        <img src="./Images/Workshops/<%= dataArray[i].presenter %>.jpg" class="img-fluid workshop-presenter-photo" alt="...">
      -->
        <div class="container">
          <div class="row yellow-bg py-3 min-card-height">
        
            <div class="col d-flex flex-column align-items-center justify-content-around">
                <img class="img-fluid workshop-presenter-photo" src="./Images/Workshops/<%= dataArray[i].presenter %>.png">
              <div class="workshop-font-color py-3 py-lg-0">
                  <%= dataArray[i].presenter %>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body min-card-body-height d-flex flex-column justify-content-between">
          <div class="presenter-name">

            <%= dataArray[i].name %>
          </div>
          <div class="mb-5 workshop-description">
            <%= dataArray[i].description %>
          </div>
          <div class = "row"> 
          <div class = "col-6 d-flex align-items-center justify-content-center remaining-spots">
            <%= dataArray[i].max - dataArray[i].attendees.length %> / <%= dataArray[i].max %>
          </div>
          <form class = "col-6" id="workshopRegister">
            <% if(registeredWorkshopNumber != 3)  { %>
            <button type="submit" class="btn btn-lg btn-UVSASE-darkBlue">
              <div class="text-white">
                Register
              </div>
            </button>
            <% } else { %>
            <button type="button" class="btn btn-secondary btn-lg" disabled>Register</button>
            <% } %>
            <input id="Workshop<%=(i+1)%>" type="hidden" value="<%= dataArray[i].name %>" />

          </form>
        </div>
        </div>
      </div>
    </div>
    <% } %>
    <% } %>

  </div>
</div>


<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-auth.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

<script>
  const firebaseConfig = {
    apiKey: "AIzaSyCic5UWC0fXladccjESHt2eEUFR3GCpu7k",
    authDomain: "test-73b01.firebaseapp.com",
    databaseURL: "https://test-73b01.firebaseio.com",
    projectId: "test-73b01",
    storageBucket: "test-73b01.appspot.com",
    messagingSenderId: "622256382010",
    appId: "1:622256382010:web:305e70e752a5a757c2d503"
  };

  firebase.initializeApp(firebaseConfig);

  const auth = firebase.auth();
  let userEmail = "";
  auth.onAuthStateChanged(function (user) {
    if (user) {

      userEmail = user.email;
      $("#currentUserEmail").val(userEmail);
    } else {
      console.log(58, "user not signed in");
    }
  });

  document
    .addEventListener("submit", (event) => {
      event.preventDefault();





      return fetch("/registerWorkshop", {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
          "CSRF-Token": Cookies.get("XSRF-TOKEN"),
        },
        body: JSON.stringify({
          userEmail,
          selectedWorkshop: event.target[1].id,
          workshopName: event.target[1].value,
        }),
      })
        .then(() => {
          location.reload();
        });

    });



</script>