<div class="container-fluid mt-5">

  <div class="col">
    <div class="card align-items-center mb-3">
      <div class="card-body">
        <div class="text-center">
          You will see below that there are four different  options for each workshop time slot. Please select one
            workshop for each timeslot.
            <br>
            The number next to the register button indicates how many slots are remaining out of 45. Please be sure
            before making your workshop selection.
            <br>
            If you have any issues with registration or you need to make workshop selection changes, please email
            IT@vsase.org.
            <br><br>
            You will also see that there are different workshop tracks. Try to register for 1 workshop in each track.
            <br>
            For example, let's say you choose a "fun/casual" track for Workshop#1. For Workshop #2, you should pick a
            workshop that is "adulting" or "personal development."
            <br><br>
            Note: Some workshops have recommended materials to have for the workshop. These are highly encouraged
            for you to have to follow along in the workshop; however you can still register for such workshops even if
            you do not/will not have these materials.
        </div>
      </div>
    </div>
  </div>
  
  <div id="workshopMaxNotification" class="row hideWorkshopNotification">
    <div class="col">

      <div class="card align-items-center mb-3 confirmation-message">
        <img src="./Images/Workshops/confirmation.svg" class="card-img-top maxIconSize mt-3" alt="...">
        <div class="card-body">
          <div class="text-center confirmation-success">
            You have successfully registered for 3 workshops!
          </div>
        </div>
      </div>
    </div>

  </div>





    <!-- Saturday, Nov. 21st @ 10:40AM - 11:55AM ET Workshops-->
  <div class="row mt-5 mb-5">
      <div class = "workshop-title w-100">
          Workshop #1 Options
        </div>
      <% for(var i = 0; i < 12; i++) { %>

        <% if(dataArray[i].date == 'Saturday, Nov. 21st @ 10:40AM - 11:55AM ET') { %>
    
        <div class="col-12 col-lg-3 mt-5">
            <div class="card shadow-lg">
              <div class="container">
                <div class="row yellow-bg py-3 min-card-height">
  
                  <div class="col d-flex flex-column align-items-center justify-content-around">
                    <img class="img-fluid workshop-presenter-photo" src="./Images/Workshops/<%= dataArray[i].presenter %>.png">
                    <div class="workshop-font-color py-3">
                      <%= dataArray[i].presenter %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body min-card-body-height d-flex flex-column justify-content-between">
                <div class="workshop-track">
                  Track: <%= dataArray[i].track %>
                </div>
                <div class="presenter-name">
  
                  <%= dataArray[i].name %>
                </div>
  
                <div class="mb-5 workshop-description">
  
                  <%= dataArray[i].description %>
                    <% if(dataArray[i].notes.length != 0) { %>
                      <div class="mt-3 materials-needed">
                        Materials Recommended:
                      </div>
                      <ul class="mt-3">
  
                        <% for(let j = 0; j < dataArray[i].notes.length; j++) { %>
                          <li>
                            <%= dataArray[i].notes[j] %>
                          </li>
                          <% } %>
                      </ul>
                      <% } %>
                      
                </div>
  
                <!-- <div class="row">
                      <div class="col d-flex justify-content-center">
                        <img class = "img-fluid scroll-down-icon" src = "https://cdn2.iconfinder.com/data/icons/arrows-set-8/100/double_down-512.png">
                      </div>
                </div> -->
                <div class="row">
                  <div class="col-6 d-flex align-items-center justify-content-center remaining-spots">
                    <%= dataArray[i].max - dataArray[i].attendees.length %> /
                      <%= dataArray[i].max %>
                  </div>
                  <form class="col-6" id="workshopRegister">
                   
                    <button id="WorkshopButton<%=i%>" type="submit" class="btn btn-UVSASE-darkBlue">
                      <div class="text-white">
                        Register
                      </div>
                    </button>
                    
                    <% if(i == 6) { %> 
                    <input id="Workshop4" type="hidden" value="<%= dataArray[i].name %>" />
                    <% } %> 
                    <% if(i == 9) { %> 
                      <input id="Workshop7" type="hidden" value="<%= dataArray[i].name %>" />
                      <% } %> 

                      <% if(i == 10) { %> 
                      <input id="Workshop8" type="hidden" value="<%= dataArray[i].name %>" />
                      <% } %> 

                      <% if(i == 11) { %> 
                      <input id="Workshop9" type="hidden" value="<%= dataArray[i].name %>" />
                      <% } %> 

                     
                  </form>
                </div>
              </div>
            </div>
          </div>
      <% } %>
      <% } %>
</div>

<!-- Saturday, Nov. 21st @ 12:10PM - 1:25PM ET Workshops-->
<div class="row mb-5">
    <div class = "workshop-title w-100">
        Workshop #2 Options
      </div>
    <% for(var i = 0; i < 12; i++) { %>
   
      <% if(dataArray[i].date == 'Saturday, Nov. 21st @ 12:10PM - 1:25PM ET') { %>
      
      <div class="col-12 col-lg-3 mt-5">
          <div class="card shadow-lg">
            <div class="container">
              <div class="row yellow-bg py-3 min-card-height">

                <div class="col d-flex flex-column align-items-center justify-content-around">
                  <img class="img-fluid workshop-presenter-photo" src="./Images/Workshops/<%= dataArray[i].presenter %>.png">
                  <div class="workshop-font-color py-3">
                    <%= dataArray[i].presenter %>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body min-card-body-height d-flex flex-column justify-content-between">
              <div class="workshop-track">
                Track: <%= dataArray[i].track %>
              </div>
              <div class="presenter-name">

                <%= dataArray[i].name %>
              </div>

              <div class="mb-5 workshop-description">

                <%= dataArray[i].description %>
                  <% if(dataArray[i].notes.length != 0) { %>
                    <div class="mt-3 materials-needed">
                      Materials Recommended:
                    </div>
                    <ul class="mt-3">

                      <% for(let j = 0; j < dataArray[i].notes.length; j++) { %>
                        <li>
                          <%= dataArray[i].notes[j] %>
                        </li>
                        <% } %>
                    </ul>
                    <% } %>
                    
              </div>

              <!-- <div class="row">
                    <div class="col d-flex justify-content-center">
                      <img class = "img-fluid scroll-down-icon" src = "https://cdn2.iconfinder.com/data/icons/arrows-set-8/100/double_down-512.png">
                    </div>
              </div> -->
              <div class="row">
                <div class="col-6 d-flex align-items-center justify-content-center remaining-spots">
                  <%= dataArray[i].max - dataArray[i].attendees.length %> /
                    <%= dataArray[i].max %>
                </div>
                <form class="col-6" id="workshopRegister">
                  <button id="WorkshopButton<%=i%>" type="submit" class="btn  btn-UVSASE-darkBlue">
                    <div class="text-white">
                      Register
                    </div>
                  </button>

                  <% if(i == 2) { %> 
                    <input id="Workshop11" type="hidden" value="<%= dataArray[i].name %>" />
                    <% } %> 
                    <% if(i == 4) { %> 
                      <input id="Workshop2" type="hidden" value="<%= dataArray[i].name %>" />
                      <% } %> 

                      <% if(i == 7) { %> 
                      <input id="Workshop5" type="hidden" value="<%= dataArray[i].name %>" />
                      <% } %> 

                      <% if(i == 8) { %> 
                      <input id="Workshop6" type="hidden" value="<%= dataArray[i].name %>" />
                      <% } %> 

                </form>
              </div>
            </div>
          </div>
        </div>
    <% } %>
    <% } %>
</div>

<!-- Sunday, Nov. 22nd @ 10:45AM - 12:00PM ET Workshops-->
<div class="row mb-5">
    <div class = "workshop-title w-100">
        Workshop #3 Options
      </div>
  <% for(var i = 0; i < 12; i++) { %>

    <% if(dataArray[i].date == 'Sunday, Nov. 22nd @ 10:45AM - 12:00PM ET') { %>
     
      <div class="col-12 col-lg-3 mt-5">
        <div class="card shadow-lg">
          <div class="container">
            <div class="row yellow-bg py-3 min-card-height">

              <div class="col d-flex flex-column align-items-center justify-content-around">
                <img class="img-fluid workshop-presenter-photo" src="./Images/Workshops/<%= dataArray[i].presenter %>.png">
                <div class="workshop-font-color py-3">
                  <%= dataArray[i].presenter %>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body min-card-body-height d-flex flex-column justify-content-between">
            <div class="workshop-track">
              Track: <%= dataArray[i].track %>
            </div>
            <div class="presenter-name">

              <%= dataArray[i].name %>
            </div>

            <div class="mb-5 workshop-description">

              <%= dataArray[i].description %>
                <% if(dataArray[i].notes.length != 0) { %>
                  <div class="mt-3 materials-needed">
                    Materials Recommended:
                  </div>
                  <ul class="mt-3">

                    <% for(let j = 0; j < dataArray[i].notes.length; j++) { %>
                      <li>
                        <%= dataArray[i].notes[j] %>
                      </li>
                      <% } %>
                  </ul>
                  <% } %>

            </div>

            <!-- <div class="row">
                        <div class="col d-flex justify-content-center">
                          <img class = "img-fluid scroll-down-icon" src = "https://cdn2.iconfinder.com/data/icons/arrows-set-8/100/double_down-512.png">
                        </div>
                  </div> -->
            <div class="row">
              <div class="col-6 d-flex align-items-center justify-content-center remaining-spots">
                <%= dataArray[i].max - dataArray[i].attendees.length %> /
                  <%= dataArray[i].max %>
              </div>
              <form class="col-6" id="workshopRegister">
                <button id="WorkshopButton<%=i%>" type="submit" class="btn btn-UVSASE-darkBlue">
                  <div class="text-white">
                    Register
                  </div>
                </button>

                <% if(i == 0) { %> 
                  <input id="Workshop1" type="hidden" value="<%= dataArray[i].name %>" />
                  <% } %> 
                  <% if(i == 1) { %> 
                    <input id="Workshop10" type="hidden" value="<%= dataArray[i].name %>" />
                    <% } %> 

                    <% if(i == 3) { %> 
                    <input id="Workshop12" type="hidden" value="<%= dataArray[i].name %>" />
                    <% } %> 

                    <% if(i == 5) { %> 
                    <input id="Workshop3" type="hidden" value="<%= dataArray[i].name %>" />
                    <% } %> 

              </form>
            </div>
          </div>
        </div>
      </div>
      <% } %>
        <% } %>

        
</div>


</div>

<div id="workshopMaxNotification2" class="row hideWorkshopNotification my-5">
  <div class="col">

    <div class="card align-items-center mb-3 confirmation-message">
      <img src="./Images/Workshops/confirmation.svg" class="card-img-top maxIconSize mt-3" alt="...">
      <div class="card-body">
        <div class="text-center confirmation-success">
          You have successfully registered for 3 workshops!
        </div>
      </div>
    </div>
  </div>

</div>


<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-auth.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-firestore.js"></script>

<script>
  const firebaseConfig = {
    apiKey: "AIzaSyCic5UWC0fXladccjESHt2eEUFR3GCpu7k",
    authDomain: "test-73b01.firebaseapp.com",
    databaseURL: "https://test-73b01.firebaseio.com",
    projectId: "test-73b01",
    storageBucket: "test-73b01.appspot.com",
    messagingSenderId: "622256382010",
    appId: "1:622256382010:web:305e70e752a5a757c2d503"
  };

  firebase.initializeApp(firebaseConfig);

  const db = firebase.firestore();

  const auth = firebase.auth();
  let userEmail = "";
  auth.onAuthStateChanged(function (user) {
    if (user) {

      userEmail = user.email;
      $("#currentUserEmail").val(userEmail);
    } else {
      console.log(58, "user not signed in");
    }

    db.collection('users').where("uid", "==", user.uid).get().then(snapshot => {
      snapshot.forEach((doc) => {

        let currentUser = doc.data();

        if (currentUser.workshops.length >= 3) {
          $("#workshopMaxNotification").show();
          $("#workshopMaxNotification2").show();
          for (let j = 0; j < 12; j++) {
            $("#WorkshopButton" + j).hide();
          }
        }

        let i = 0;

        if(!currentUser.workshopTrack1) {
     
          $("#WorkshopButton6").show();
          $("#WorkshopButton9").show();
          $("#WorkshopButton10").show();
          $("#WorkshopButton11").show();
          
        }

        if(!currentUser.workshopTrack2) {
        
          $("#WorkshopButton2").show();
          $("#WorkshopButton4").show();
          $("#WorkshopButton7").show();
          $("#WorkshopButton8").show();
          
        }

        
        if(!currentUser.workshopTrack3) {
        
        $("#WorkshopButton0").show();
        $("#WorkshopButton1").show();
        $("#WorkshopButton3").show();
        $("#WorkshopButton5").show();
        
      }

        db.collection('workshops').get().then(snapshot => {
          snapshot.forEach((doc) => {

            let workshopData = doc.data();

            for (let j = 0; j < 12; j++) {
             
              if (currentUser.workshops[j] == workshopData.name) {

                $("#WorkshopButton" + i).hide();
              }
            }

            i++;

          })
        });




      });
    });
  });

  document
    .addEventListener("submit", (event) => {
      event.preventDefault();

  

      return fetch("/registerWorkshop", {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
          "CSRF-Token": Cookies.get("XSRF-TOKEN"),
        },
        body: JSON.stringify({
          userEmail,
          selectedWorkshop: event.target[1].id,
          workshopName: event.target[1].value,
        }),
      })
        .then(() => {
          location.reload();
        });

    });



</script>