<div class="container mt-5">



  <div class="row">
    <div class="col">
      <% for(let i = 0; i < userInfoLength; i++) { %>
      
        
          <div class="card" style="width: 18rem;">
            <img class="img-fluid team-img-maxSize" src = "https://pngimg.com/uploads/tree/tree_PNG3498.png" id="profileImg<%=i%>">
            <div class="card-body">
              <%= userInfo[i].fullName %>
            </div>
          </div>
   
      <% } %>
    </div>
  </div>
</div>
<input hidden id="userInfoLength" value="<%= userInfoLength %>">

<% for(let i = 0; i < userInfoLength; i++) { %>
<input hidden id="userIdentifier<%=i%>" value="<%= userInfo[i].uid %><%=i*2%>">
<input hidden id="userID<%=i%>" value="<%= userInfo[i].uid %>">
<input hidden id="userInfo<%=i%>" value="<%= userInfo[i].uid %><%=i*3%>">
<input hidden id="userData<%=i%>" value="<%= userInfo[i].uid %><%=i+3%>">
<% } %>


<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-auth.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-storage.js"></script>

<script>

  const firebaseConfig = {
    apiKey: "AIzaSyCic5UWC0fXladccjESHt2eEUFR3GCpu7k",
    authDomain: "test-73b01.firebaseapp.com",
    databaseURL: "https://test-73b01.firebaseio.com",
    projectId: "test-73b01",
    storageBucket: "test-73b01.appspot.com",
    messagingSenderId: "622256382010",
    appId: "1:622256382010:web:305e70e752a5a757c2d503"
  };

  firebase.initializeApp(firebaseConfig);

  for (let i = 0; i < document.getElementById(`userInfoLength`).getAttribute("value"); i++) {

    firebase.storage().ref('users/' + document.getElementById(`userID${i}`).getAttribute("value") + '/profile.jpg').getDownloadURL()
      .then(imgURL => {
       
        if (imgURL) {
          //console.log(46, imgURL);
          document.getElementById("profileImg" + i).src = imgURL;
        }


      })
      .catch(err => {
        console.log(51, err)
      });
  }


</script>